@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --side: 220px;
}

body {
  background: palevioletred;
  color: white;
  height: 100dvh;
  position: relative;
}

.sidebar {
  height: 100dvh;
  background-color: black;
  width: var(--side);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.main {
  width: calc(100vw - var(--side));
  margin-left: var(--side);
  background-color: black;
  min-height: 100dvh;
}
